/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * qwixxb implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * qwixxb.css
 *
 * qwixxb stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (qwixxb_qwixxb.tpl), and to HTML elements you create dynamically
    (in qwixxb.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*** Basic Game Setup ***/
#qwixx {
	text-align: center;
    position: relative;

    --color-primary: #1b9be6;
    --color-secondary: #3b537b;
    --color-die-white: #ffffff;
    --color-die-red: #e9392a;
    --color-die-yellow: #e8d21a;
    --color-die-green: #3eb31e;
    --color-die-blue: #3b5b8a;
}

#qwixx .background {
	width: 960px;
    height: 680px;
    margin: auto;
	position: relative;
    background: #eee;
    display: flex;
}

#qwixx .dice-area {
    width: 400px;
    height: 400px;
    background: #333333;
    border: 3px solid var(--color-primary);
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*** Player Sheet ***/
#qwixx .player__scoresheet {
    background-image: url( 'img/playersheet_bg.jpg' ); 
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.color__row {
    display: flex;
}
.color__field {
    width: 29px;
    height: 29px;
    border: 1px solid #333333;
    border-radius: 5px;
    transition: all ease-in-out .3s;
    font-size: 24px;
    font-weight: 600;
}
.color__field--active {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.2);
    border-color: var(--color-primary);
}
.color__field--active:hover, .color__field--active:focus {
    background: rgba(255, 255, 255, .3);
    border-color: var(--color-primary);
} 

#row_red {
    position: absolute;
    left: 17px;
    top: 13px;
}

#row_yellow {
    position: absolute;
    left: 17px;
    top: 53px;
}

#row_green {
    position: absolute;
    left: 17px;
    top: 94px;
}

#row_blue {
    position: absolute;
    left: 17px;
    top: 135px;
}

/*** other players***/
.right {
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

#qwixx .other-player__scoresheet {
    background-image: url( 'img/playersheet_bg.jpg' ); 
    width: 200px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#qwixx .other-player__scoresheet .color__field {
    width: 13.5px;
    height: 13.5px;
    font-size: 10px;
    border-radius: 2px;
}

#qwixx .other-player__scoresheet #row_red {
    position: absolute;
    left: 8.5px;
    top: 6px;
}

#qwixx .other-player__scoresheet #row_yellow {
    position: absolute;
    left: 8.5px;
    top: 26px;
}

#qwixx .other-player__scoresheet #row_green {
    position: absolute;
    left: 8.5px;
    top: 47px;
}

#qwixx .other-player__scoresheet #row_blue {
    position: absolute;
    left: 8.5px;
    top: 67px;
}




/*** Buttons ***/
.btn {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, var(--color-primary) 5%, var(--color-secondary) 100%);
	background-color: var(--color-primary);
	border-radius: 10px;
	border: 1px solid var(--color-secondary);
	display: inline-block;
	cursor: pointer;
    color: #ffffff;
    text-shadow: 0px 1px 0px #283966;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all ease-in-out .3s;
} 

.btn:hover {
	background: linear-gradient(to bottom, var(--color-secondary) 5%, var(--color-primary) 100%);
	background-color: #476e9e;
}
.btn:active {
	position: relative;
	top: 1px;
}

.btn__roll-dice {
    margin-top: 50%;
    width: 80%;
}

/*** Dice ***/
.dice {
    display: none;
    margin-top: 40%;
}

.die {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

.die--white {
    background-color: var(--color-die-white);
}
.die--red {
    background-color: var(--color-die-red);
}
.die--yellow {
    background-color: var(--color-die-yellow);
}
.die--green {
    background-color: var(--color-die-green);
}
.die--blue {
    background-color: var(--color-die-blue);
}



/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




